<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutPromo">

<head></head>

<body>

	<div layout:fragment="content">
	
		<style>
		.embed-container{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;max-width:100%;}
		.embed-container iframe, .embed-container object, .embed-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
		</style>
	
    	<div class="col-sm-12 bg">
      		<div class="row">
      			<ol class="breadcrumb">
					<li>
						<label style="font-weight:bold;">Curso de viola&#771;o com 30 aulas completas para quem quer aprender a tocar hoje mesmo!</label>
						<br />
						Clique <a th:href="@{/}">aqui</a> para se cadastrar. N&#227;o perca tempo!
						<br />
						Ou se cadastre com sua conta do Facebook:
						<br /><br />
						<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></fb:login-button>
					</li>
				</ol>
      		</div>
      		<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading" th:text="${phase.name}"></div>
					<div class="panel-body" th:utext="${content.content}"></div>
				</div>
			</div>
			<div class="row">
      			<ol class="breadcrumb">
					<li>
						<label style="font-weight:bold;">Clique <a th:href="@{/}">aqui</a> para se cadastrar e ver todas as 30 aulas!</label>
						<br />
						Ou se cadastre com sua conta do Facebook:
						<br /><br />
						<fb:login-button scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></fb:login-button>
					</li>
				</ol>
				<br /><br />
      		</div>
    	</div>

	</div>
</body>
</html>