<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{fragments/layoutProfile :: layout(~{::section})}">

<body>
<section layout:fragment="contentTemplateProfile">

    <div class="panel panel-default" th:if="${editAvailable == true}">
        <div class="panel-body">
            <a th:href="@{'/profile/players/'+${player.id}+'/addVideo'}" class="btn btn-success dropdown-toggle">Adicionar um vídeo</a>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-body">

            <div class="pull-left"><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="btn btn-link" style="text-decoration:none"
                                      aria-controls="collapseInstrument" href="#collapseInstrument"><i class="fa fa-video-camera fa-1x" aria-hidden="true"></i></a>
            </div>

            <h4><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" style="text-decoration:none" aria-controls="collapseInstrument"
                   href="#collapseInstrument"><strong>Ensaios</strong></a></h4>

            <div id="collapseInstrument" class="collapse in">

                <hr />

                <div id="app">

                    <div class="row" v-for="video in videos">
                        <div class="col-sm-9">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" :src="video.url" allowfullscreen="true"></iframe>
                            </div>
                            <h4>{{video.gameName}} : {{video.levelName}} : Aula {{video.phaseOrder}}</h4><br /><br />
                        </div>
                    </div>

                    <span>{{msgNoVideos}}</span>

                </div>

            </div>

        </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    page: 0,
                    lastPage: false,
                    msgNoVideos: "",
                    videos: []
                }
            },
            methods: {
                getInitialVideos() {
                    axios.get("/playervideos/player/" + this.getPlayerId() + "?page=" + this.page + "&size=1")
                        .then(response => {
                            if (response.data.length == 0) {
                                this.lastPage = true;
                                this.msgNoVideos = 'Nenhum vídeo enviado até o momento.';
                            } else {
                                this.videos.push(response.data[0]);
                            }
                        });
                },
                scroll(video) {
                    window.onscroll = () => {
                        if (!this.lastPage) {
                            let bottomOfWindow = Math.round(document.documentElement.scrollTop + window.innerHeight) === document.documentElement.offsetHeight;
                            let bottomOfWindow1 = Math.round(document.documentElement.scrollTop + window.innerHeight) === document.documentElement.offsetHeight + 1;
                            let bottomOfWindow2 = Math.round(document.documentElement.scrollTop + window.innerHeight) === document.documentElement.offsetHeight - 1;

                            if (bottomOfWindow || bottomOfWindow1 || bottomOfWindow2) {
                                this.page++;
                                axios.get("/playervideos/player/" + this.getPlayerId() + "?page=" + this.page + "&size=1")
                                    .then(response => {
                                        if (response.data.length == 0) {
                                            this.lastPage = true;
                                            this.msgNoVideos = 'Não há mais vídeos para exibir.';
                                        } else {
                                            this.videos.push(response.data[0]);
                                        }
                                    });
                            }
                        }
                    };
                },
                getPlayerId() {
                    var splitted = window.location.href.split('/');
                    return splitted[splitted.length - 2];
                }
            },
            mounted() {
                this.scroll(this.video);
            },
            beforeMount() {
                this.getInitialVideos();
            }
        })
        /*]]>*/
    </script>

</section>

</body>

</html>
