<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutMain">

<head>
	<style type="text/css">
        .mainbody{background:#f0f0f0}
	</style>
</head>

<body>
	
	<div layout:fragment="content">

		<div class="mainbody container-fluid">
		    
		    <div class="row">
		        
		        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
		            <div class="panel panel-default">
		                <div class="panel-body">
		                    <h1 class="panel-title pull-left" style="font-size:30px;"><i class="fa fa-video-camera" aria-hidden="true"></i> Vídeos</h1>
		                </div>
		            </div>
                </div>
                
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		            
		            <div class="panel panel-default">
		                <div class="panel-body">
		                    <h1 class="panel-title pull-left" style="font-size:30px">Adicionar um ensaio</h1>
		                </div>
                    </div>
                    
                    <div class="panel panel-default">
                        
                        <div class="panel-body">

                            <h3>Regras:</h3>
                            
                            <ul>
                                <li>É necessário ser um aluno de nível Faixa Amarela ou superior para poder adicionar vídeos.</li>
                                <li>Só é permitido adicionar vídeos em aulas que o aluno já concluiu.</li>
                                <li>É permitido adicionar um único vídeo em cada aula.</li>
                                <li>O vídeo deve estar disponível no <a href="https://www.youtube.com" target="_blank">Youtube</a> do aluno.</li>
                            </ul>

                            <h3>Como fazer:</h3>

                            <ol>
                                <li>Selecione um curso e um nível no formulário abaixo.</li>
                                <li>Selecione uma fase (esse campo aparece apenas após a seleção dos campos curso e nível).</li>
                                <li>Copie e cole o endereço do vídeo no Youtube no campo URL.</li>
                            </ol>

                            <h3>Formatos permitidos:</h3> 
                            <ul>    
                                <li>https://www.youtube.com/watch?v=jCJhLO90DEU</li>
                                <li>https://youtu.be/jCJhLO90DEU</li>
                                <li>https://m.youtube.com/watch?v=jCJhLO90DEU</li>
                            </ul>
                            
                            <h3>Recompensa:</h3>
                            <ul>
                                <li>A cada vídeo adicionado o aluno recebe 25 pontos.</li>
                            </ul>

                            <hr />

                            <form id="f_filter" th:object="${playervideo}" th:action="@{/profile/player/addVideo}" method="post">
                                
                                <input type="hidden" th:field="*{player.id}" />
                                
                                <div class="form-group">
                                    <label for="gameId">Curso:</label>
                                    <select class="form-control" th:field="*{content.phase.map.game.id}" th:id="gameId" required="true">
                                        <option value="0"></option>
                                        <option th:each="game : ${games}" th:value="${game.id}" th:text="${game.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="levelId">Nível:</label>
                                    <select class="form-control" th:field="*{content.phase.map.level.id}" th:id="levelId" required="true">
                                        <option value="0"></option>
                                        <option th:each="level : ${levels}" th:value="${level.id}" th:text="${level.order} + '. ' + ${level.name}"></option>
                                    </select>
                                </div>
                                <div id="containerPhase"></div>
                                <div>
                                    <div class="form-group">
                                        <label>URL no Youtube:</label>
                                        <input type="text" class="form-control" th:field="*{url}" th:id="url" required="true" maxlength="255" placeholder="https://www.youtube.com/watch?v=" />
                                    </div>
                                </div>
                                <input type="button" class="btn btn-success pull-right" th:value="#{app.save}" data-loading-text="Salvando..." id="btnOk" />
                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <input type="hidden" th:value="${message}" id="alertMessage" />
        <input type="hidden" th:value="${messageContent}" id="alertMessageContent" />
        
        <script th:inline="javascript">
            /*<![CDATA[*/
            if(document.getElementById("alertMessage").value=='error'){bootbox.alert(document.getElementById("alertMessageContent").value);}

            $(document).ready(function(){
  				$("#btnOk").click(function() {
                    if(submitFilter()){  
                        $(this).button('loading');
                        form=document.getElementById("f_filter");
				        form.submit();
                    }
  				});
  			});

            function submitFilter(){
				if (document.getElementById("gameId").value == 0) {
                    bootbox.alert("Por favor, selecione um curso.");
                    return false;
				}
				
				if (document.getElementById("levelId").value == 0) {
					bootbox.alert("Por favor, selecione um nível.");
					return false;
                }
                
                if (document.getElementById("phaseId").value == 0) {
					bootbox.alert("Por favor, selecione uma fase.");
					return false;
                }
                
                if (document.getElementById("url").value == "") {
					bootbox.alert("Por favor, informe o endereço do vídeo no Youtube.");
					return false;
				} else if (document.getElementById("url").value.length <= 25) {
                    bootbox.alert("O endereço do vídeo informado não parece estar correto.");
					return false;
                }
				
				return true;
			}
			
			function verifyGameLevel(){
				if(document.getElementById("gameId").value > 0 && document.getElementById("levelId").value > 0){
					return true;
				}
				
				return false;
			}
			
			$(document).ready(function() {

				$("#gameId").change(function() {
					if(verifyGameLevel()){
						comboPhase();
					}
				});
				
				$("#levelId").change(function() {
					if(verifyGameLevel()){
						comboPhase();
					}
                });
                
                reload();
            });
            
            function reload() {
                if (verifyGameLevel()) {
                    comboPhase();
                }
            }
			
			$(function () {
			    var token = $("input[name='_csrf']").val();
			    var header = "X-CSRF-TOKEN";
			    $(document).ajaxSend(function(e, xhr, options) {
			        xhr.setRequestHeader(header, token);
			    });
			});
			
			function comboPhase() {
				$.ajax({
					url: "/comboPhaseWithMap",
					data: {
				        gameId: $("#gameId").val(),
				        levelId: $("#levelId").val()
				    }
				})
				.then(function(data) {
					var options = "";
					
					for(var i = 0; i < data.length; i++) {
					    var obj = data[i];
					    options = options + '<option value="' + obj.id + '">' + obj.name + '</option>';
					}
					
					if(data.length > 0){
						var newCombo = '<div class="form-group">';
						newCombo = newCombo + '<label for="phaseId">Fase:</label>';
						newCombo = newCombo + '<select class="form-control" required="true" id="phaseId" name="content.phase.id">'; 
						newCombo = newCombo + '<option value="0" selected="selected"></option>';
						newCombo = newCombo + options;
						newCombo = newCombo + '</select></div>';
						$("#containerPhase").show();
						$("#containerPhase").html(newCombo);
					}
					else{
						$("#containerPhase").hide();
					}
				});
			}
            /*]]>*/
        </script>
            
    </div>
    
</body>

</html>