container_commands:
    00_dnf_install_python3:
        command: "sudo dnf install python3 augeas-libs"
        ignoreErrors: true
    10_python3_venv:
        command: "sudo python3 -m venv /opt/certbot/"
        ignoreErrors: true
    20_pip_install_certbot:
        command: "sudo /opt/certbot/bin/pip install --upgrade pip"
        ignoreErrors: true
    30_pip_install_certbot:
        command: "sudo /opt/certbot/bin/pip install certbot certbot-apache"
        ignoreErrors: true
    40_certbot_run:
        command: "sudo ln -s /opt/certbot/bin/certbot /usr/bin/certbot"
        ignoreErrors: true
