<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutMainFb">

<head>
	<style type="text/css">
        .mainbody{background:#f0f0f0}
	</style>
</head>

<body>
	
	<div layout:fragment="content">

		<div class="mainbody container-fluid">
		    
		    <div class="row">
		        
		        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
		            <div class="panel panel-default">
		                <div class="panel-body">
		                    <h1 class="panel-title pull-left" style="font-size:30px;"><i class="fa fa-money" aria-hidden="true"></i> Cr&#xE9;ditos</h1>
		                </div>
		            </div>
		        </div>
		        
		        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		            
		            <div class="panel panel-default">
		                <div class="panel-body">
		                    <h1 class="panel-title pull-left" style="font-size:30px">Comprar Cr&#xE9;ditos</h1>
		                </div>
		            </div>
		            
		            <form id="f_credit" th:action="@{/buycredits}" method="post" class="form-horizontal">
		            
		            	<div class="panel panel-default">
			                <div class="panel-body">
			                    <label for="quantity">Informe a quantidade de cr&#xE9;ditos desejada</label> <small><small sec:authorize="hasAuthority('USER')">(m&#xED;nimo: 5 m&#xE1;ximo: 85)</small></small>
		                        
		                        <input type="number" class="form-control" required="true" name="quantity" id="quantity" min="5" max="85" />
		                        
		                        <br />
		                        
		                        <a th:href="@{/}" class="btn btn-default"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Voltar</a>
			                	<button data-loading-text="Aguarde, conectando ao sistema de pagamento..." class="btn btn-primary pull-right" id="btnBuy"><i class="fa fa-fw fa-check" aria-hidden="true"></i> Comprar</button>
		                        
			                </div>
			            </div>
					
					</form>
					
					<div class="panel panel-default">
		                <div class="panel-body">
                        	<p>A plataforma Polifono.com utiliza o sistema de pagamento <a href="https://pagseguro.uol.com.br" target="_blank" style="text-decoration:none">PagSeguro.com</a>, desenvolvido pela <a href="http://www.uol.com.br" target="_blank" style="text-decoration:none">UOL</a>.</p>
                        	<br />
                        	<p>
                        	Informe a quantidade de cr&#xE9;ditos desejada e clique em [Comprar]. Voc&#xEA; ser&#xE1; direcionado para o sistema PagSeguro. Ap&#xF3;s efetuar o pagamento, o sistema PagSeguro retornar&#xE1; para essa p&#xE1;gina automaticamente. 
                        	Os cr&#xE9;ditos ser&#xE3;o adicionados em sua conta apenas ap&#xF3;s a confirma&#xE7;&#xE3;o de pagamento feita pelo sistema PagSeguro. 
                        	Pode ser necess&#xE1;rio sair do sistema e entrar novamente para que os cr&#xE9;ditos apare&#xE7;am na sua conta. O sistema PagSeguro lhe enviar&#xE1; um e-mail quando o pagamento for confirmado.
                        	Cada cr&#xE9;dito custa 1 real. Cada aula custa 1 cr&#xE9;dito.
                        	</p>
                        </div>
					</div>
					
					<div class="panel panel-default">
		                <div class="panel-body">
                        	<h2 class="panel-title pull-left" style="font-size:25px">O sistema PagSeguro</h2>
                        	
                        	<br /><br />
                        	
                        	<label>Quais as formas de pagamento aceitas pelo PagSeguro?</label>
                        	<br />
                        	<p>
                        	Cart&#xF5;es de cr&#xE9;dito - parcelamento em at&#xE9; 18 vezes;<br />
							Boleto banc&#xE1;rio;<br />
							Transfer&#xEA;ncia de saldo entre contas PagSeguro;<br />
							D&#xE9;bito banc&#xE1;rio.<br />
							</p>
							
							<br />
                        	
                        	<label>&#xC9; poss&#xED;vel comprar parcelado pelo PagSeguro? </label>
                        	<br />
                        	<p>
                        	Sim, por&#xE9;m o PagSeguro oferece a op&#xE7;&#xE3;o de parcelamento apenas para pagamento via cart&#xE3;o de cr&#xE9;dito.<br />
                        	O valor m&#xED;nimo para compra parcelada &#xE9; de R$ 10,00.<br />
                        	O valor m&#xED;nimo da parcela &#xE9; de R$ 5,00.
							</p>
							
							<br />
                        	
                        	<label>Quais cart&#xF5;es de cr&#xE9;dito s&#xE3;o aceitos pelo PagSeguro? </label>
                        	<br />
                        	<p>
                        	S&#xE3;o aceitas mais de 20 op&#xE7;&#xF5;es de cart&#xF5;es. Clique <a href="https://pagseguro.uol.com.br/para_voce/meios_de_pagamento_e_parcelamento.jhtml" target="_blank" style="text-decoration:none">aqui</a> para ver mais informa&#xE7;&#xF5;es.
							</p>
                        </div>
					</div>

        		</div>
        		
    		</div>
    		
		</div>
		
		<input type="hidden" th:value="${codRegister}" id="alertCodRegister" />
        <input type="hidden" th:value="${msg}" id="alertMessageContent" />
		
		<script th:inline="javascript">
			/*<![CDATA[*/
				if(document.getElementById("alertCodRegister").value==1 || document.getElementById("alertCodRegister").value==2){bootbox.alert(document.getElementById("alertMessageContent").value);}

				$(document).ready(function(){
	  				$("#btnBuy").click(function(){
	  					if($("#quantity").val() >= 5 && $("#quantity").val() <= 85){$(this).button('loading');}
	  				});
	  			});
			/*]]>*/
		</script>
		
	</div>

</body>
</html>