<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutLogin">

<head></head>

<body>
	<div layout:fragment="content">
		<div class="row">
	    	<div class="col-sm-6 bg">
	    		<h1>Confirmação de cadastro</h1>
	      		<form th:object="${player}" th:action="@{/emailconfirmation}" method="post">
	  				<div class="form-group">
	    				<input type="email" th:field="*{email}" class="form-control" required="true" th:placeholder="#{app.email}" />
	  				</div>
	  				<div class="form-group">
	    				<input type="text" th:field="*{emailConfirmed}" class="form-control" required="true" placeholder="Código de ativação recebido no e-mail" />
	  				</div>
	  				<input type="submit" class="btn btn-default" value="Confirmar" />
				</form>
	    	</div>
	    	<div class="col-sm-6 bg">
	    		<br />
	    		
	    		<div th:if="${codRegister} == 1" class="alert alert-success">
	  				<strong th:text="#{success_}"></strong> <label th:utext="${msgRegister}"></label><br />
				</div>
	    		<div th:if="${codRegister} == 2" class="alert alert-warning">
	  				<strong th:text="#{attention_}"></strong> <label th:utext="${msgRegister}"></label>
				</div>
	    	</div>
	  	</div>
	  	<div class="row">
	    	<div class="col-sm-6 bg">
	    		<h1>Reenvio do código de ativação</h1>
	    		<h6>Caso não tenha recebido o código em seu e-mail, utilize essa seção para reenviar o código</h6>
	      		<form th:object="${playerResend}" th:action="@{/emailconfirmationresend}" method="post">
	  				<div class="form-group">
	    				<input type="email" th:field="*{email}" class="form-control" required="true" th:placeholder="#{app.email}" />
	  				</div>
	  				<input type="submit" class="btn btn-default" value="Reenviar" />
				</form>
	    	</div>
	    	<div class="col-sm-6 bg"></div>
	  	</div>
	  	<div class="row">
	  		<br /><br /><br /><br /><br />
	  	</div>
	</div>
</body>
</html>