<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutLogin">

<head></head>

<body>
	<div layout:fragment="content">
		<div class="row">
	    	<div class="col-sm-6 bg">
	    		<h1>Enviar c&#xF3;digo de altera&#xE7;&#xE3;o de senha por e-mail</h1>
	    		<h6>Caso n&#xE3;o tenha recebido o c&#xF3;digo de altera&#xE7;&#xE3;o de senha, utilize essa se&#xE7;&#xE3;o para reenviar o c&#xF3;digo</h6>
	      		<form th:object="${playerResend}" th:action="@{/passwordresetresend}" method="post">
	  				<div class="form-group">
	    				<input type="text" th:field="*{email}" class="form-control" required="true" th:placeholder="#{app.login}" />
	  				</div>
	  				<input type="submit" class="btn btn-default" value="Enviar" />
				</form>
	    	</div>
	    	<div class="col-sm-6 bg">
	    		<br />
	    		
	    		<div th:if="${codRegister} == 1" class="alert alert-success">
	  				<strong th:text="#{success_}"></strong> <label th:utext="${msgRegister}"></label><br />
				</div>
	    		<div th:if="${codRegister} == 2" class="alert alert-warning">
	  				<strong th:text="#{attention_}"></strong> <label th:utext="${msgRegister}"></label>
				</div>
	    	</div>
	  	</div>
	  	<div class="row">
	    	<div class="col-sm-6 bg">
	    		<h1>Alterar a senha</h1>
	      		<form th:object="${player}" th:action="@{/passwordreset}" method="post">
	  				<div class="form-group">
	    				<input type="text" th:field="*{email}" class="form-control" required="true" th:placeholder="#{app.login}" />
	  				</div>
	  				<div class="form-group">
	    				<input type="text" th:field="*{passwordReset}" class="form-control" required="true" th:placeholder="#{msg.passwordreset.code}" />
	  				</div>
	  				<div class="form-group">
	    				<input type="password" th:field="*{password}" class="form-control" required="true" th:placeholder="#{app.password}" data-toggle="tooltip" th:title="#{msg.rule.password}" />
	  				</div>
	  				<input type="submit" class="btn btn-default" value="Confirmar" />
				</form>
	    	</div>
	    	<div class="col-sm-6 bg"></div>
	  	</div>
	  	<div class="row">
	  		<br /><br /><br /><br /><br />
	  	</div>
	</div>
</body>
</html>