<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{fragments/layoutMain :: layout(~{::section})}">

<head></head>

<body>
<section layout:fragment="contentTemplate">
    <div class="row breadcrumb">
        <div class="col-sm-12 bg">
            <div class="row">
                Parabéns! Você terminou o nível!<br />
                Como incentivo para que você continue os seus estudos, você ganhou 1 crédito.<br />
                A porcentagem de acertos no último teste foi de <span th:text="${grade}"></span>%.<br /><br />
            </div>
            <div class="row">
                O seu diploma de conclusão de nível está disponível <a th:href="@{'/diploma/'+${diploma.code}}">aqui</a>.
            </div>
        </div>
    </div>
</section>
</body>
</html>
