<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutMain">

<head></head>

<body>
	<div layout:fragment="content">
		<div class="row">
	    	<div class="col-sm-12 bg">
	      		<div class="row breadcrumb">
	      			Parabéns! Você terminou o curso!<br />
	      			Como incentivo para que você continue os seus estudos e aprenda um novo instrumento, você ganhou 3 créditos.<br />
	      			A porcentagem de acertos no último teste foi de <span th:text="${grade}"></span>%.<br /><br />
	      		</div>
	      		<div class="row">
	      			O seu diploma de conclusão de curso está disponível <a th:href="@{'/diploma/'+${diploma.code}}">aqui</a>.
	      		</div>
	    	</div>
	  	</div>
	</div>
</body>
</html>