<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutMain">

<head></head>

<body>
	<div layout:fragment="content">
		<div class="row">
	    	<div class="col-sm-12 bg">
	      		<div class="row">
	      			<br />
	      			<span style="margin-bottom:10px;margin-left:10px;" th:each="game : ${games}">
	           			<a th:href="@{'/games/'+${game.namelink}}" class="btn btn-primary btn-lg" style="margin-bottom:10px" role="button" th:text="${game.name}"></a>
	           		</span>
				</div>
				<div class="row">
	  				<br /><br /><br /><br /><br />
	  			</div>
	    	</div>
	    	<!--<div class="col-sm-6 bg">
	    		<div>Você tem 5 créditos.</div>
	      		<div>Cada crédito te permite assistir a 1 aula.</div>
	      		<div>Clique aqui para adquirir mais créditos.</div>
	      		<div>Veja aqui outras formas de ganhar créditos.</div>
	    	</div>-->
	  	</div>
	</div>
</body>
</html>