<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutMainFb">

<head>
	<style type="text/css">
        .mainbody{background:#f0f0f0}
	</style>
</head>

<body>
	<div layout:fragment="content">
		
		<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        
            <div class="panel panel-default">
            
                <div class="panel-body">
                
                    <div class="pull-left">
                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-music fa-1x" aria-hidden="true"></i></a>
                    </div>
                    
                    <h4><a href="#" style="text-decoration:none;margin-right:8px; margin-top:-5px;"><strong>Instrumentos</strong></a></h4>
                    
                    <hr />
                    
                    <span style="margin-bottom:10px;margin-left:10px">
	           			<a th:href="@{'/games/recorder'}" class="btn btn-primary btn-lg" style="margin-bottom:10px" role="button">Flauta Doce</a>
	           		</span>
	           		
	           		<p><small>Curso completo de flauta doce. Este curso ensina o instrumento flauta doce junto com a teoria musical, 
	           		ou seja, fazendo este curso você estará apto a ler partituras, formar escalas, criar acordes, etc, além, é claro, de aprender a tocar várias músicas!
	           		Ao finalizar o curso, o aluno dominará o instrumento flauta doce e possuirá o conhecimento da teoria musical estando pronto 
	           		para aprender qualquer outro instrumento. <br />Quantidade de aulas: 90.</small></p>
	           		
	           		<hr />
	           		
	           		<span style="margin-bottom:10px;margin-left:10px">
	           			<a th:href="@{'/games/acoustic_guitar'}" class="btn btn-primary btn-lg" style="margin-bottom:10px" role="button">Violão</a>
	           		</span>
	           		
	           		<p><small>Curso prático de violão. Este curso é indicado para quem quer aprender violão começando da aula mais básica.
	           		Aqui você vai iniciar seu aprendizado com os principais acordes e diversos ritmos. Então passa a conhecer as escalas, 
	           		a leitura de partitura, a leitura de tablatura, como formar arranjos, como improvisar, como tirar música de ouvido e muito mais.
	           		Além, é claro, de aprender a tocar várias músicas!<br />Quantidade de aulas: 60.</small></p>
	           		
	           		<hr />
	           		
	           		<span style="margin-bottom:10px;margin-left:10px">
	           			<a th:href="@{'/games/saxophone'}" class="btn btn-primary btn-lg" style="margin-bottom:10px" role="button">Saxofone</a>
	           		</span>
	           		
	           		<p><small>Curso de saxofone. Indicado para quem quer aprender teoria musical e a prática do saxofone. Pode ser feito por quem
	           		não tem nenhum conhecimento de música, mas também para músicos que já sabem a teoria musical e gostariam de aprender esse instrumento fantástico.
	           		<br />Quantidade de aulas: 30.</small></p>
	           		
                    
                </div>
            </div>
            
        </div>
        
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        
            <div class="panel panel-default">
            
                <div class="panel-body">
                
                    <div class="media">
                    
                        <div class="media-body">
                            <div class="pull-left">
	                        <a href="#" class="btn btn-link" style="text-decoration:none;"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
	                    </div>
	                    
	                    <h4><a href="#" style="text-decoration:none;margin-right:8px; margin-top:-5px;"><strong>Créditos</strong></a></h4>
	                    
	                    <hr />
                    
                            <p>Você possui <span sec:authentication="principal.user.totalCredit"></span> créditos.</p>
                           	
                           	<p>Cada crédito permite assistir a 1 aula.</p>
                           	
                           	<p>Clique <a th:href="@{/buycredits}">aqui</a> para adquirir mais créditos.</p>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
	</div>
</body>
</html>