<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{fragments/layoutMainFb :: layout(~{::section})}">

<body>
<section layout:fragment="contentTemplate">

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="pull-left">
                    <a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="btn btn-link"
                       style="text-decoration:none" aria-controls="collapseInstruments" href="#collapseInstruments"><i class="fa fa-music fa-1x"
                                                                                                                       aria-hidden="true"></i></a>
                </div>

                <h4><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" style="text-decoration:none" aria-controls="collapseInstruments"
                       href="#collapseInstruments"><strong>Instrumentos</strong></a></h4>

                <div id="collapseInstruments" class="collapse in">

                    <hr />

                    <span style="margin-bottom:10px;margin-left:10px">
		           			<a th:href="@{'/games/trumpet'}" class="btn btn-primary btn-lg" style="margin-bottom:10px" role="button">Trompete</a>
		           		</span>

                    <p><small>Curso para iniciantes do trompete. Este curso ensina os fundamentos do trompete junto com a teoria musical. Pode ser feito por
                        quem
                        não tem nenhum conhecimento de música, mas também para músicos que já sabem a teoria musical e gostariam de aprender o trompete. <br />Quantidade
                        de aulas: 60.</small></p>

                    <hr />

                    <span style="margin-bottom:10px;margin-left:10px">
		           			<a th:href="@{'/games/recorder'}" class="btn btn-primary btn-lg" style="margin-bottom:10px" role="button">Flauta Doce</a>
		           		</span>

                    <p><small>Curso completo de flauta doce. Este curso ensina o instrumento flauta doce junto com a teoria musical,
                        ou seja, fazendo este curso você estará apto a ler partituras, formar escalas, criar acordes, etc, além, é claro, de aprender a tocar
                        várias músicas!
                        Ao finalizar o curso, o aluno dominará o instrumento flauta doce e possuirá o conhecimento da teoria musical estando pronto
                        para aprender qualquer outro instrumento. <br />Quantidade de aulas: 90.</small></p>

                    <hr />

                    <span style="margin-bottom:10px;margin-left:10px">
		           			<a th:href="@{'/games/acoustic_guitar'}" class="btn btn-primary btn-lg" style="margin-bottom:10px" role="button">Violão</a>
		           		</span>

                    <p><small>Curso prático de violão. Este curso é indicado para quem quer aprender violão começando da aula mais básica.
                        Aqui você vai iniciar seu aprendizado com os principais acordes e diversos ritmos. Então passa a conhecer as escalas,
                        a leitura de partitura, a leitura de tablatura, como formar arranjos, como improvisar, como tirar música de ouvido e muito mais.
                        Além, é claro, de aprender a tocar várias músicas!<br />Quantidade de aulas: 60.</small></p>

                    <hr />

                    <span style="margin-bottom:10px;margin-left:10px">
		           			<a th:href="@{'/games/saxophone'}" class="btn btn-primary btn-lg" style="margin-bottom:10px" role="button">Saxofone</a>
		           		</span>

                    <p><small>Curso de saxofone. Indicado para quem quer aprender teoria musical e a prática do saxofone. Pode ser feito por quem
                        não tem nenhum conhecimento de música, mas também para músicos que já sabem a teoria musical e gostariam de aprender esse instrumento
                        fantástico.
                        <br />Quantidade de aulas: 71.</small></p>

                </div>


            </div>
        </div>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-push-5 col-md-push-5">

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="media">

                    <div class="media-body">
                        <div class="pull-left"><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="btn btn-link"
                                                  style="text-decoration:none" aria-controls="collapseCredits" href="#collapseCredits"><i
                                class="fa fa-info-circle" aria-hidden="true"></i></a></div>

                        <h4><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" style="text-decoration:none"
                               aria-controls="collapseCredits" href="#collapseCredits"><strong>Créditos</strong></a></h4>

                        <div id="collapseCredits" class="collapse in">

                            <hr />

                            <p th:if="${#authentication.principal.user.totalCredit} lt 1">Você não possui mais créditos.</p>

                            <p th:if="${#authentication.principal.user.totalCredit} eq 1">Você possui <span sec:authentication="principal.user.totalCredit"
                                                                                                            class="badge"></span> crédito.</p>

                            <p th:if="${#authentication.principal.user.totalCredit} gt 1">Você possui <span sec:authentication="principal.user.totalCredit"
                                                                                                            class="badge"></span> créditos.</p>

                            <p>Cada crédito permite assistir a 1 aula.</p>

                            <a th:href="@{/buycredits}" class="btn btn-success dropdown-toggle">Adquirir créditos</a>

                            <a th:href="@{/promo}" class="btn btn-success dropdown-toggle">Promoção</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="media">

                    <div class="media-body">
                        <div class="pull-left"><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="btn btn-link"
                                                  style="text-decoration:none" aria-controls="collapseRanking" href="#collapseRanking"><i class="fa fa-trophy"
                                                                                                                                          aria-hidden="true"></i></a>
                        </div>

                        <h4><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" style="text-decoration:none"
                               aria-controls="collapseRanking" href="#collapseRanking"><strong>Ranking mensal</strong></a></h4>

                        <div id="collapseRanking" class="collapse in">

                            <hr />

                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th data-toggle="tooltip" title="Os 10 melhores alunos desse mês">Aluno</th>
                                        <th data-toggle="tooltip" title="Pontos obtidos nesse mês">Pontos</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ranking : ${ranking_monthly}">
                                        <td>
                                            <a th:href="@{'/profile/players/'+${ranking.player.id}}" style="text-decoration:none"><span
                                                    th:text="${ranking.player.name + ' ' + ranking.player.lastName}"></span></a>
                                        </td>

                                        <td th:text="${ranking.score}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="media">

                    <div class="media-body">
                        <div class="pull-left"><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="btn btn-link"
                                                  style="text-decoration:none" aria-controls="collapseArticles" href="#collapseArticles"><i class="fa fa-rss"
                                                                                                                                            aria-hidden="true"></i></a>
                        </div>

                        <h4><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" style="text-decoration:none"
                               aria-controls="collapseArticles" href="#collapseArticles"><strong>Artigos</strong></a></h4>

                        <div id="collapseArticles" class="collapse in">

                            <hr />

                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-condensed">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://blog.polifono.com/2020/02/15/como-aprender-a-ler-partitura-e-por-qual-motivo/"
                                               style="text-decoration:none"><span>Como Aprender a Ler Partitura e Por Qual Motivo</span></a></td>
                                    </tr>
                                    <tr>
                                        <td><a target="_blank" href="https://blog.polifono.com/2020/02/07/como-tocar-de-improviso-musica/"
                                               style="text-decoration:none"><span>Como Tocar de Improviso</span></a></td>
                                    </tr>
                                    <tr>
                                        <td><a target="_blank" href="https://blog.polifono.com/2019/08/31/o-ensino-de-musica-e-a-tecnologia/"
                                               style="text-decoration:none"><span>O Ensino de Música e a Tecnologia</span></a></td>
                                    </tr>
                                    <tr>
                                        <td><a target="_blank" href="https://blog.polifono.com" style="text-decoration:none"><span>ver mais ...</span></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-lg-pull-3 col-md-pull-3">

        <div class="panel panel-default">
            <div class="panel-body">
                <a th:href="@{'/profile/players/'+${#authentication.principal.user.id}+'/addVideo'}" class="btn btn-success dropdown-toggle">Adicionar um ensaio</a>
            </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="pull-left"><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" class="btn btn-link"
                                          style="text-decoration:none" aria-controls="collapseFeed" href="#collapseFeed"><i class="fa fa-video-camera fa-1x"
                                                                                                                            aria-hidden="true"></i></a></div>

                <h4><a data-toggle="collapse" data-parent="#accordion" aria-expanded="false" style="text-decoration:none" aria-controls="collapseFeed"
                       href="#collapseFeed"><strong>Ensaios dos alunos</strong></a></h4>

                <div id="collapseFeed" class="collapse in">

                    <hr />

                    <div id="app">

                        <div class="row" v-for="video in videos">
                            <div class="col-sm-12">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" :src="video.url" allowfullscreen="true"></iframe>
                                </div>
                                <h4>Aluno(a): <a :href="'/profile/players/'+video.playerId">{{video.playerFirstName}} {{video.playerLastName}}</a></h4>
                                <h4>{{video.gameName}} : {{video.levelName}} : Aula {{video.phaseOrder}}</h4><br /><br />
                            </div>
                        </div>

                        <span>{{msgNoVideos}}</span>

                    </div>

                </div>

            </div>

        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var app = new Vue({
                el: '#app',
                data() {
                    return {
                        page: 0,
                        lastPage: false,
                        msgNoVideos: "",
                        videos: [],
                        restriction: "0"
                    }
                },
                methods: {
                    getInitialVideos() {
                        //axios.get("/player_videos?page="+this.page+"&size=3")
                        axios.get("/player_videos?restriction=0")
                            .then(response => {
                                if (response.data.length === 0) {
                                    this.lastPage = true;
                                    this.msgNoVideos = 'Nenhum ensaio até o momento. Seja o primeiro a enviar um ensaio!';
                                } else {
                                    for (let i = 0; i < response.data.length; i++) {
                                        this.videos.push(response.data[i]);
                                        this.restriction = this.restriction + "," + response.data[i].id;
                                    }
                                }
                            });
                    },
                    scroll(video) {
                        window.onscroll = () => {
                            if (!this.lastPage) {
                                let bottomOfWindow = Math.round(document.documentElement.scrollTop + window.innerHeight) === document.documentElement.offsetHeight;
                                let bottomOfWindow1 = Math.round(document.documentElement.scrollTop + window.innerHeight) === document.documentElement.offsetHeight + 1;
                                let bottomOfWindow2 = Math.round(document.documentElement.scrollTop + window.innerHeight) === document.documentElement.offsetHeight - 1;

                                if (bottomOfWindow || bottomOfWindow1 || bottomOfWindow2) {
                                    this.page++;
                                    //axios.get("/player_videos?page="+this.page+"&size=3")
                                    axios.get("/player_videos?restriction=" + this.restriction)
                                        .then(response => {
                                            if (response.data.length === 0) {
                                                this.lastPage = true;
                                                // TODO - i18n
                                                this.msgNoVideos = 'Não há mais vídeos para exibir.';
                                            } else {
                                                for (let i = 0; i < response.data.length; i++) {
                                                    this.videos.push(response.data[i]);
                                                    this.restriction = this.restriction + "," + response.data[i].id;
                                                }
                                            }
                                        });
                                }
                            }
                        };
                    },
                    getContentId() {
                        return document.getElementById("contentId").value;
                    }
                },
                mounted() {
                    this.scroll(this.video);
                },
                beforeMount() {
                    this.getInitialVideos();
                }
            })
            /*]]>*/
        </script>
    </div>

</section>
</body>
</html>
