<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="fragments/layoutMain">

<head></head>

<body>
	<div layout:fragment="content">
	
		<div class="col-sm-12 bg">
      		<div class="row">
      			<br />
      			<ol class="breadcrumb">
					<li><a th:href="@{'/games/'}">Cursos</a></li>
					<li><a th:href="@{'/games/'+${game.namelink}}" th:text="${game.name}" id="breadcrumbGame"></a></li>
					<li><a th:href="@{'/games/'+${game.namelink}+'/'+${map.level.order}+'/1'}" th:text="${map.level.name}" id="breadcrumbLevel"></a></li>
					<li th:text="#{app.phase}+' '+${phase.order}" class="active"></li>
				</ol>
			</div>
			<div class="row" align="right" style="height:0px">
				<a onClick="switchColor();" data-toggle="tooltip" title="Mudar cor de fundo" class="btn btn-primary" style="height:42px;padding-right:6px;padding-left:6px"><span class="fa fa-adjust" style="font-size:20px"></span></a>
				<a onClick="fontSize('a');" data-toggle="tooltip" title="Aumentar o texto" class="btn btn-primary" style="height:42px;padding-right:6px;padding-left:6px"><span class="fa fa-plus-circle" style="font-size:20px"></span></a>
				<a onClick="fontSize('d');" data-toggle="tooltip" title="Diminuir o texto" class="btn btn-primary" style="height:42px;padding-right:6px;padding-left:6px;margin-right:8px"><span class="fa fa-minus-circle" style="font-size:20px"></span></a>
			</div>
      		<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading" th:text="${phase.name}"></div>
					<div class="panel-body" th:utext="${content.content}" id="content"></div>
				</div>
			</div>
			<div class="row" align="left" style="height:0px">
				<a onClick="printContent();" data-toggle="tooltip" title="Imprimir" class="btn btn-primary" shape="rect"><span class="fa fa-print" ></span></a>
			</div>
			<div class="row" align="right">
				<a th:href="@{'/games/'+${game.namelink}+'/'+${map.level.order}+'/'+${map.order}+'/'+${phase.order}+'/test'}" class="btn btn-primary" role="button" data-loading-text="Carregando..." id="btnOk">Concluir&nbsp;&nbsp;&nbsp;<span class="fa fa-arrow-right"></span></a>
				<br /><br />
			</div>
			<div class="row breadcrumb">
				Clique no botão [Concluir] para fazer a prova dessa aula.<br />
				O aluno pode fazer a prova quantas vezes for preciso, mas assim que conseguir acertar 70% das questões, não será mais possível ver a prova.<br />
				Para desbloquear a próxima aula, é obrigatório fazer a prova da aula atual.
				<br /><br />
			</div>
    	</div>
    	
    	<script th:inline="javascript">
	  		/*<![CDATA[*/	
  			$(document).ready(function(){
  				$("#btnOk").click(function() {
  					$(this).button('loading');
  				});
  			});
  			/*]]>*/
		</script>

	</div>
</body>
</html>